.DS_Store
__pycache__/
*.pyc
.egg-info/
.mypy_cache/
/.ruff_cache/
/.venv/
AGENTS.md
/data/**
!/data/
!/data/raw/
!/data/**/*.dvc
!/data/**/.gitkeep
/models/**
!/models/.gitkeep
!/models/**/*.dvc
/.dvc/cache/
/.dvc/storage/
/.dvc/tmp/
/.dvc/site-cache/
.dvc/config.local
AGENTS.md
